<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <form (ngSubmit)="onSubmit(f)" #f="ngForm" ngNativeValidate>     
            <div class="form-group">
                <label class="control-label">New Message</label>
                    <input 
                        type="text" 
                        class="form-control" 
                        name="content"
                        ngModel
                        required>
            </div>
            <div class="form-group">
                    <button class="btn btn-primary" type="submit">Save</button>
            </div>
        </form>
        <hr>
    </div>
</div>